<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style type="text/css">
	.container{
		margin-top:50px;
	}
	.row{
		margin:0px auto;
		width:800px;
	}
</style>
</head>
<body>
	<div class="container">
  		<div class="row">
  			<h2 class="sectiontitle">수정하기</h2>
  			<form method="post" action="../board/update_ok">
  			<table class="table">
  				<tr>
  					<th width=10%>이름</th>
  					<td width=90%>
	  					<input type="text" class="input-sm" name="name" th:value="${vo.name}">
	  					<input type="hidden" name=no th:value="${vo.no}">
  					</td>
  				</tr>
  				<tr>
  					<th width=10%>제목</th>
  					<td width=90%><input type="text" class="input-sm" name="subject" th:value="${vo.subject}"></td>
  				</tr>
  				<tr>
  					<th width=10%>내용</th>
  					<td width=90%><textarea rows="10" cols="52" name="content" th:text="${vo.content}"></textarea></td>
  				</tr>
  				<tr>
  					<th width=10%>비밀번호</th>
  					<td width=90%><input type="password" class="input-sm" name="pwd"></td>
  				</tr>
  				<tr>
  					<td colspan="2" class="text-center inline">
  						<input type="submit" value="수정" class="btn-sm btn-danger">
  						<input type="button" value="취소" class="btn-sm btn-success" onclick="javascript:history.back()">
  					</td>
  				</tr>
  			</table>
  			</form>
  		</div>
  	</div>
</body>
</html>